<template>
  <HeaderBar> </HeaderBar>
  <LeftSidebar> </LeftSidebar>

  <div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
      <div class="min-height-200px">
        <!-- TABS -->
        <div class="pd-20 card-box mb-30">
          <h2>Catalogos</h2>
          <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
              <a
                class="nav-link"
                @click.prevent="setActiveTab('statusTab')"
                :class="{ active: isActiveTab('statusTab') }"
                href="#statusTab"
                >Estados</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                @click.prevent="setActiveTab('phasesTab')"
                :class="{ active: isActiveTab('phasesTab') }"
                href="#phasesTab"
                >Fases</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                @click.prevent="setActiveTab('delayTab')"
                :class="{ active: isActiveTab('delayTab') }"
                href="#delayTab"
                >Retrasos</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                @click.prevent="setActiveTab('activitiesTab')"
                :class="{ active: isActiveTab('activitiesTab') }"
                href="#activitiesTab"
                >Actividades</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                @click.prevent="setActiveTab('projectTypeTab')"
                :class="{ active: isActiveTab('projectTypeTab') }"
                href="#projectTypeTab"
                >Tipo de Proyecto</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                @click.prevent="setActiveTab('lifecycleTab')"
                :class="{ active: isActiveTab('lifecycleTab') }"
                href="#lifecycleTab"
                >Ciclo de vida</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                @click.prevent="setActiveTab('estiamtedModelTab')"
                :class="{ active: isActiveTab('estiamtedModelTab') }"
                href="#estiamtedModelTab"
                >Modelo de estimacion</a
              >
            </li>
          </ul>
          <div class="tab-content py-3">
            <div
              class="tab-pane fade"
              :class="{ 'active show': isActiveTab('statusTab') }"
              id="statusTab"
            >
              <div class="btn-list">
                <button
                  aria-label="Agregar Status"
                  data-microtip-position="bottom"
                  role="tooltip"
                  class="btn btn-primary btn-sm"
                  @click="showModalStatus"
                >
                  <i class="fa fa-pencil"></i> Agregar Status
                </button>
              </div>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Descripcion</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, index) in statuses" :key="item._id">
                      <th scope="row">{{ index + 1 }}</th>
                      <td>{{ item.description }}</td>
                      <button
                        aria-label="Editar"
                        data-microtip-position="bottom"
                        role="tooltip"
                        class="btn alert-info btn-sm"
                        @click="showModalEditStatus(item._id)"
                      >
                        <i class="fa fa-pencil"></i>
                      </button>
                      <button
                        aria-label="Editar"
                        data-microtip-position="bottom"
                        role="tooltip"
                        class="btn alert-info btn-sm"
                        @click="deleteStatusDialog(item._id)"
                      >
                        <i class="fa fa-times"></i>
                      </button>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div
              class="tab-pane fade"
              :class="{ 'active show': isActiveTab('phasesTab') }"
              id="phasesTab"
            >
              <div class="btn-list">
                <button
                  aria-label="Agregar Fase"
                  data-microtip-position="bottom"
                  role="tooltip"
                  class="btn btn-primary btn-sm"
                  @click="showModalPhase"
                >
                  <i class="fa fa-pencil"></i> Agregar Fase
                </button>
              </div>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Descripcion</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, index) in phases" :key="item._id">
                      <th scope="row">{{ index + 1 }}</th>
                      <td>{{ item.description }}</td>
                      <button
                        aria-label="Editar"
                        data-microtip-position="bottom"
                        role="tooltip"
                        class="btn alert-info btn-sm"
                        @click="showModalEditPhase(item._id)"
                      >
                        <i class="fa fa-pencil"></i>
                      </button>
                      <button
                        aria-label="Editar"
                        data-microtip-position="bottom"
                        role="tooltip"
                        class="btn alert-info btn-sm"
                        @click="deletePhaseDialog(item._id)"
                      >
                        <i class="fa fa-times"></i>
                      </button>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div
              class="tab-pane fade"
              :class="{ 'active show': isActiveTab('delayTab') }"
              id="delayTab"
            >
              <div class="btn-list">
                <button
                  aria-label="Agregar Retraso"
                  data-microtip-position="bottom"
                  role="tooltip"
                  class="btn btn-primary btn-sm"
                  @click="showModalDelay"
                >
                  <i class="fa fa-pencil"></i> Agregar Retraso
                </button>
              </div>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Descripcion</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, index) in delayes" :key="item._id">
                      <th scope="row">{{ index + 1 }}</th>
                      <td>{{ item.description }}</td>
                      <button
                        aria-label="Editar"
                        data-microtip-position="bottom"
                        role="tooltip"
                        class="btn alert-info btn-sm"
                        @click="showModalEditDelay(item._id)"
                      >
                        <i class="fa fa-pencil"></i>
                      </button>
                      <button
                        aria-label="Editar"
                        data-microtip-position="bottom"
                        role="tooltip"
                        class="btn alert-info btn-sm"
                        @click="deleteDelayDialog(item._id)"
                      >
                        <i class="fa fa-times"></i>
                      </button>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div
              class="tab-pane fade"
              :class="{ 'active show': isActiveTab('activitiesTab') }"
              id="activitiesTab"
            >
              <div class="btn-list">
                <button
                  aria-label="Agregar Actividad"
                  data-microtip-position="bottom"
                  role="tooltip"
                  class="btn btn-primary btn-sm"
                  @click="showModalActivity"
                >
                  <i class="fa fa-pencil"></i> Agregar Actividad
                </button>
              </div>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Descripcion</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, index) in activites" :key="item._id">
                      <th scope="row">{{ index + 1 }}</th>
                      <td>{{ item.description }}</td>
                      <button
                        aria-label="Editar"
                        data-microtip-position="bottom"
                        role="tooltip"
                        class="btn alert-info btn-sm"
                        @click="showModalEditActivity(item._id)"
                      >
                        <i class="fa fa-pencil"></i>
                      </button>
                      <button
                        aria-label="Editar"
                        data-microtip-position="bottom"
                        role="tooltip"
                        class="btn alert-info btn-sm"
                        @click="deleteActivityDialog(item._id)"
                      >
                        <i class="fa fa-times"></i>
                      </button>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div
              class="tab-pane fade"
              :class="{ 'active show': isActiveTab('projectTypeTab') }"
              id="projectTypeTab"
            >
              <div class="btn-list">
                <button
                  aria-label="Agregar Tipo de Proyecto"
                  data-microtip-position="bottom"
                  role="tooltip"
                  class="btn btn-primary btn-sm"
                  @click="showModalProjectType"
                >
                  <i class="fa fa-pencil"></i> Agregar Tipo de Proyecto
                </button>
              </div>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Descripcion</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, index) in projectTypes" :key="item._id">
                      <th scope="row">{{ index + 1 }}</th>
                      <td>{{ item.description }}</td>
                      <button
                        aria-label="Editar"
                        data-microtip-position="bottom"
                        role="tooltip"
                        class="btn alert-info btn-sm"
                        @click="showModalEditProjectType(item._id)"
                      >
                        <i class="fa fa-pencil"></i>
                      </button>
                      <button
                        aria-label="Editar"
                        data-microtip-position="bottom"
                        role="tooltip"
                        class="btn alert-info btn-sm"
                        @click="deleteProjectTypeDialog(item._id)"
                      >
                        <i class="fa fa-times"></i>
                      </button>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div
              class="tab-pane fade"
              :class="{ 'active show': isActiveTab('lifecycleTab') }"
              id="lifecycleTab"
            >
              <div class="btn-list">
                <button
                  aria-label="Agregar Ciclo de Vida"
                  data-microtip-position="bottom"
                  role="tooltip"
                  class="btn btn-primary btn-sm"
                  @click="showModalLifecycle"
                >
                  <i class="fa fa-pencil"></i> Agregar Ciclo de Vida
                </button>
              </div>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Descripcion</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, index) in lifecycles" :key="item._id">
                      <th scope="row">{{ index + 1 }}</th>
                      <td>{{ item.description }}</td>
                      <button
                        aria-label="Editar"
                        data-microtip-position="bottom"
                        role="tooltip"
                        class="btn alert-info btn-sm"
                        @click="showModalEditLifecycle(item._id)"
                      >
                        <i class="fa fa-pencil"></i>
                      </button>
                      <button
                        aria-label="Editar"
                        data-microtip-position="bottom"
                        role="tooltip"
                        class="btn alert-info btn-sm"
                        @click="deleteLifecycleDialog(item._id)"
                      >
                        <i class="fa fa-times"></i>
                      </button>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div
              class="tab-pane fade"
              :class="{ 'active show': isActiveTab('estiamtedModelTab') }"
              id="estiamtedModelTab"
            >
              <div class="btn-list">
                <button
                  aria-label="Agregar Ciclo de Vida"
                  data-microtip-position="bottom"
                  role="tooltip"
                  class="btn btn-primary btn-sm"
                  @click="showModalEstimatedModel"
                >
                  <i class="fa fa-pencil"></i> Agregar Ciclo de Vida
                </button>
              </div>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Descripcion</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, index) in estimatedModel" :key="item._id">
                      <th scope="row">{{ index + 1 }}</th>
                      <td>{{ item.description }}</td>
                      <button
                        aria-label="Editar"
                        data-microtip-position="bottom"
                        role="tooltip"
                        class="btn alert-info btn-sm"
                        @click="showModalEditEstimatedModel(item._id)"
                      >
                        <i class="fa fa-pencil"></i>
                      </button>
                      <button
                        aria-label="Editar"
                        data-microtip-position="bottom"
                        role="tooltip"
                        class="btn alert-info btn-sm"
                        @click="deleteEstimatedModelDialog(item._id)"
                      >
                        <i class="fa fa-times"></i>
                      </button>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- TABS -->
      </div>
    </div>
  </div>
  <!-- AGREGAR STATUS -->
  <ModalMd v-show="statusVisible" @close="closeModalStatus">
    <template v-slot:header> Nuevo Status </template>
    <template v-slot:body>
      <form
        @submit.prevent="saveStatus(statusSave)"
        v-if="statusSave._id == ''"
      >
        <div class="form-group row">
          <label class="col-sm-12 col-md-2 col-form-label">Nombre</label>
          <div class="col-sm-12 col-md-10">
            <input
              class="form-control"
              type="text"
              placeholder="Finished"
              v-model="statusSave.description"
            />
          </div>
        </div>
        <div class="btn-list">
          <input
            type="submit"
            class="btn btn-success btn-lg"
            value="Guardar cambios"
          />
        </div>
      </form>
      <form @submit.prevent="uptadeStatus(statusSave)" v-else>
        <div class="form-group row">
          <label class="col-sm-12 col-md-2 col-form-label">Nombre Update</label>
          <div class="col-sm-12 col-md-10">
            <input
              class="form-control"
              type="text"
              placeholder="Finished"
              v-model="statusSave.description"
            />
          </div>
        </div>
        <div class="btn-list">
          <input
            type="submit"
            class="btn btn-success btn-lg"
            value="Guardar cambios"
          />
        </div>
      </form>
    </template>
  </ModalMd>
  <!-- AGREGAR PHASE -->
  <ModalMd v-show="phaseVisible" @close="closeModalPhase">
    <template v-slot:header> Nueva fase </template>
    <template v-slot:body>
      <form @submit.prevent="savePhase(phaseSave)" v-if="phaseSave._id == ''">
        <div class="form-group row">
          <label class="col-sm-12 col-md-2 col-form-label">Nombre</label>
          <div class="col-sm-12 col-md-10">
            <input
              class="form-control"
              type="text"
              placeholder="Development"
              v-model="phaseSave.description"
            />
          </div>
        </div>
        <div class="btn-list">
          <input
            type="submit"
            class="btn btn-success btn-lg"
            value="Guardar cambios"
          />
        </div>
      </form>
      <form @submit.prevent="updatePhase(phaseSave)" v-else>
        <div class="form-group row">
          <label class="col-sm-12 col-md-2 col-form-label">Nombre</label>
          <div class="col-sm-12 col-md-10">
            <input
              class="form-control"
              type="text"
              placeholder="Development"
              v-model="phaseSave.description"
            />
          </div>
        </div>
        <div class="btn-list">
          <input
            type="submit"
            class="btn btn-success btn-lg"
            value="Guardar cambios"
          />
        </div>
      </form>
    </template>
  </ModalMd>
  <!-- AGREGAR PHASE -->
  <ModalMd v-show="activityVisible" @close="closeModalActivity">
    <template v-slot:header> Nueva fase </template>
    <template v-slot:body>
      <form
        @submit.prevent="saveActivity(activitySave)"
        v-if="activitySave._id == ''"
      >
        <div class="form-group row">
          <label class="col-sm-12 col-md-2 col-form-label">Nombre</label>
          <div class="col-sm-12 col-md-10">
            <input
              class="form-control"
              type="text"
              placeholder="Activity"
              v-model="activitySave.description"
            />
          </div>
        </div>
        <div class="btn-list">
          <input
            type="submit"
            class="btn btn-success btn-lg"
            value="Guardar cambios"
          />
        </div>
      </form>
      <form @submit.prevent="updateActivity(activitySave)" v-else>
        <div class="form-group row">
          <label class="col-sm-12 col-md-2 col-form-label">Nombre</label>
          <div class="col-sm-12 col-md-10">
            <input
              class="form-control"
              type="text"
              placeholder="Activity"
              v-model="activitySave.description"
            />
          </div>
        </div>
        <div class="btn-list">
          <input
            type="submit"
            class="btn btn-success btn-lg"
            value="Guardar cambios"
          />
        </div>
      </form>
    </template>
  </ModalMd>
  <!-- AGREGAR DELAY -->
  <ModalMd v-show="delayVisible" @close="closeModalDelay">
    <template v-slot:header> Nueva Retraso </template>
    <template v-slot:body>
      <form @submit.prevent="saveDelay(delaySave)" v-if="delaySave._id == ''">
        <div class="form-group row">
          <label class="col-sm-12 col-md-2 col-form-label">Nombre</label>
          <div class="col-sm-12 col-md-10">
            <input
              class="form-control"
              type="text"
              placeholder="Activity"
              v-model="delaySave.description"
            />
          </div>
        </div>
        <div class="btn-list">
          <input
            type="submit"
            class="btn btn-success btn-lg"
            value="Guardar cambios"
          />
        </div>
      </form>
      <form @submit.prevent="updateDelay(delaySave)" v-else>
        <div class="form-group row">
          <label class="col-sm-12 col-md-2 col-form-label">Nombre</label>
          <div class="col-sm-12 col-md-10">
            <input
              class="form-control"
              type="text"
              placeholder="Activity"
              v-model="delaySave.description"
            />
          </div>
        </div>
        <div class="btn-list">
          <input
            type="submit"
            class="btn btn-success btn-lg"
            value="Guardar cambios"
          />
        </div>
      </form>
    </template>
  </ModalMd>
  <!-- AGREGAR TIPO DE PROYECTO -->
  <ModalMd v-show="projectTypeVisible" @close="closeModalProjectType">
    <template v-slot:header> Nuevo Tipo de Proyecto </template>
    <template v-slot:body>
      <form
        @submit.prevent="saveProjectType(projectTypeSave)"
        v-if="projectTypeSave._id == ''"
      >
        <div class="form-group row">
          <label class="col-sm-12 col-md-2 col-form-label">Nombre</label>
          <div class="col-sm-12 col-md-10">
            <input
              class="form-control"
              type="text"
              placeholder="Soporte"
              v-model="projectTypeSave.description"
            />
          </div>
        </div>
        <div class="btn-list">
          <input
            type="submit"
            class="btn btn-success btn-lg"
            value="Guardar cambios"
          />
        </div>
      </form>
      <form @submit.prevent="updateProjectType(projectTypeSave)" v-else>
        <div class="form-group row">
          <label class="col-sm-12 col-md-2 col-form-label">Nombre</label>
          <div class="col-sm-12 col-md-10">
            <input
              class="form-control"
              type="text"
              placeholder="Soporte"
              v-model="projectTypeSave.description"
            />
          </div>
        </div>
        <div class="btn-list">
          <input
            type="submit"
            class="btn btn-success btn-lg"
            value="Guardar cambios"
          />
        </div>
      </form>
    </template>
  </ModalMd>
  <!-- AGREGAR LIFECYLE -->
  <ModalMd v-show="lifecycleVisible" @close="closeModalLifecycle">
    <template v-slot:header> Nueva Ciclo de Vida </template>
    <template v-slot:body>
      <form
        @submit.prevent="saveLifecycle(lifecycleSave)"
        v-if="lifecycleSave._id == ''"
      >
        <div class="form-group row">
          <label class="col-sm-12 col-md-2 col-form-label">Nombre</label>
          <div class="col-sm-12 col-md-10">
            <input
              class="form-control"
              type="text"
              placeholder="Agil"
              v-model="lifecycleSave.description"
            />
          </div>
        </div>
        <div class="btn-list">
          <input
            type="submit"
            class="btn btn-success btn-lg"
            value="Guardar cambios"
          />
        </div>
      </form>
      <form @submit.prevent="updateLifecycle(lifecycleSave)" v-else>
        <div class="form-group row">
          <label class="col-sm-12 col-md-2 col-form-label">Nombre</label>
          <div class="col-sm-12 col-md-10">
            <input
              class="form-control"
              type="text"
              placeholder="Agil"
              v-model="lifecycleSave.description"
            />
          </div>
        </div>
        <div class="btn-list">
          <input
            type="submit"
            class="btn btn-success btn-lg"
            value="Guardar cambios"
          />
        </div>
      </form>
    </template>
  </ModalMd>
  <!-- AGREGAR ESTIMATED MODEL -->
  <ModalMd v-show="estimatedModelVisible" @close="closeModalEstimatedModel">
    <template v-slot:header> Nueva Modelo de Estimacion </template>
    <template v-slot:body>
      <form
        @submit.prevent="saveEstimatedModel(estimatedModelSave)"
        v-if="estimatedModelSave._id == ''"
      >
        <div class="form-group row">
          <label class="col-sm-12 col-md-2 col-form-label">Nombre</label>
          <div class="col-sm-12 col-md-10">
            <input
              class="form-control"
              type="text"
              placeholder="Agil"
              v-model="estimatedModelSave.description"
            />
          </div>
        </div>
        <div class="btn-list">
          <input
            type="submit"
            class="btn btn-success btn-lg"
            value="Guardar cambios"
          />
        </div>
      </form>
      <form @submit.prevent="updateEstimatedModel(estimatedModelSave)" v-else>
        <div class="form-group row">
          <label class="col-sm-12 col-md-2 col-form-label">Nombre</label>
          <div class="col-sm-12 col-md-10">
            <input
              class="form-control"
              type="text"
              placeholder="Juicio de Expertos"
              v-model="estimatedModelSave.description"
            />
          </div>
        </div>
        <div class="btn-list">
          <input
            type="submit"
            class="btn btn-success btn-lg"
            value="Guardar cambios"
          />
        </div>
      </form>
    </template>
  </ModalMd>
</template>

<script>
// @ is an alias to /src
import LeftSidebar from "@/components/LeftSidebar.vue";
import HeaderBar from "@/components/HeaderBar.vue";
import ModalMd from "@/components/ModalMedium.vue";
import { mapActions, mapState } from "vuex";

export default {
  name: "Collections",
  components: {
    HeaderBar,
    LeftSidebar,
    ModalMd,
  },
  computed: {
    ...mapState("collectionsModule", [
      "statuses",
      "phases",
      "delayes",
      "activites",
      "projectTypes",
      "lifecycleSave",
      "statusSave",
      "phaseSave",
      "activitySave",
      "delaySave",
      "projectTypeSave",
      "lifecycles",
      "estimatedModel",
      "estimatedModelSave",
    ]),
  },
  methods: {
    ...mapActions(["obtenerToken"]),
    ...mapActions("collectionsModule", [
      "editPhase",
      "editActivity",
      "editDelay",
      "saveStatus",
      "uptadeStatus",
      "deleteStatus",
      "editStatus",
      "getStatus",
      "savePhase",
      "getPhases",
      "deletePhases",
      "saveActivity",
      "getActivities",
      "deleteActivities",
      "saveDelay",
      "getDelayes",
      "deleteDelayes",
      "updatePhase",
      "updateActivity",
      "updateDelay",
      "getProjectType",
      "getLifecicle",
      "editProjectType",
      "editLifecycle",
      "deleteProjectType",
      "deleteLifecycle",
      "updateProjectType",
      "updateLifecycle",
      "saveProjectType",
      "saveLifecycle",
      "saveEstimatedModel",
      "getEstimatedModel",
      "editEstimatedModel",
      "updateEstimatedModel",
      "deleteEstimatedModel",
    ]),
    isActiveTab(menuItem) {
      return this.activeTab === menuItem;
    },
    setActiveTab(menuItem) {
      this.activeTab = menuItem;
    },
    async showModalEditStatus(id) {
      await this.editStatus(id);
      this.statusVisible = true;
    },
    async showModalEditPhase(id) {
      await this.editPhase(id);
      this.phaseVisible = true;
    },
    async showModalEditDelay(id) {
      await this.editDelay(id);
      this.delayVisible = true;
    },
    async showModalEditActivity(id) {
      await this.editActivity(id);
      this.activityVisible = true;
    },
    async showModalEditProjectType(id) {
      await this.editProjectType(id);
      this.projectTypeVisible = true;
    },
    async showModalEditLifecycle(id) {
      await this.editLifecycle(id);
      this.lifecycleVisible = true;
    },
    async showModalEditEstimatedModel(id) {
      await this.editEstimatedModel(id);
      this.estimatedModelVisible = true;
    },
    showModalStatus() {
      this.statusVisible = true;
    },
    closeModalStatus() {
      this.statusVisible = false;
    },
    async showModalPhase() {
      this.phaseVisible = true;
    },
    closeModalPhase() {
      this.phaseVisible = false;
    },
    async showModalDelay() {
      this.delayVisible = true;
    },
    closeModalDelay() {
      this.delayVisible = false;
    },
    async showModalActivity() {
      this.activityVisible = true;
    },
    closeModalActivity() {
      this.activityVisible = false;
    },
    async showModalProjectType() {
      this.projectTypeVisible = true;
    },
    closeModalProjectType() {
      this.projectTypeVisible = false;
    },
    async showModalLifecycle() {
      this.lifecycleVisible = true;
    },
    closeModalLifecycle() {
      this.lifecycleVisible = false;
    },
    async showModalEstimatedModel() {
      this.estimatedModelVisible = true;
    },
    closeModalEstimatedModel() {
      this.estimatedModelVisible = false;
    },
    async deleteEstimatedModelDialog(item) {
      const response = await swal({
        title: "¿Deseas eliminar?",
        text: "El item sera eliminado",
        buttons: true,
        dangerMode: true,
      });
      if (response) {
        this.deleteEstimatedModel(item);
      }
    },
    async deleteStatusDialog(item) {
      const response = await swal({
        title: "¿Deseas eliminar?",
        text: "El item sera eliminado",
        buttons: true,
        dangerMode: true,
      });
      if (response) {
        this.deleteStatus(item);
      }
    },
    async deletePhaseDialog(item) {
      const response = await swal({
        title: "¿Deseas eliminar?",
        text: "El item sera eliminado",
        buttons: true,
        dangerMode: true,
      });
      if (response) {
        this.deletePhases(item);
      }
    },
    async deleteActivityDialog(item) {
      const response = await swal({
        title: "¿Deseas eliminar?",
        text: "El item sera eliminado",
        buttons: true,
        dangerMode: true,
      });
      if (response) {
        this.deleteActivities(item);
      }
    },
    async deleteDelayDialog(item) {
      const response = await swal({
        title: "¿Deseas eliminar?",
        text: "El item sera eliminado",
        buttons: true,
        dangerMode: true,
      });
      if (response) {
        this.deleteDelayes(item);
      }
    },
    async deleteProjectTypeDialog(item) {
      const response = await swal({
        title: "¿Deseas eliminar?",
        text: "El item sera eliminado",
        buttons: true,
        dangerMode: true,
      });
      if (response) {
        this.deleteProjectType(item);
      }
    },
    async deleteLifecycleDialog(item) {
      const response = await swal({
        title: "¿Deseas eliminar?",
        text: "El item sera eliminado",
        buttons: true,
        dangerMode: true,
      });
      if (response) {
        this.deleteLifecycle(item);
      }
    },
  },
  data() {
    return {
      activeTab: "statusTab",
      statusVisible: false,
      phaseVisible: false,
      delayVisible: false,
      activityVisible: false,
      projectTypeVisible: false,
      lifecycleVisible: false,
      estimatedModelVisible: false,
    };
  },
  mounted() {
    this.$store.dispatch("collectionsModule/getStatus");
    this.$store.dispatch("collectionsModule/getPhases");
    this.$store.dispatch("collectionsModule/getActivities");
    this.$store.dispatch("collectionsModule/getDelayes");
    this.$store.dispatch("collectionsModule/getProjectType");
    this.$store.dispatch("collectionsModule/getLifecicle");
    this.$store.dispatch("collectionsModule/getEstimatedModel");
  },
  created() {
    this.obtenerToken();
  },
};
</script>
