<template>
  <HeaderBar> </HeaderBar>
  <LeftSidebar> </LeftSidebar>
</template>

<script>
// @ is an alias to /src
import LeftSidebar from "@/components/LeftSidebar.vue";
import HeaderBar from "@/components/HeaderBar.vue";
import { mapActions } from "vuex";

export default {
  name: "Home",
  components: {
    HeaderBar,
    LeftSidebar,
  },
  methods: {
    ...mapActions(["obtenerToken", "cerrarSesion"]),
  },
  created() {
    this.obtenerToken();
  },
};
</script>
