<template>
  <HeaderBar> </HeaderBar>
  <LeftSidebar> </LeftSidebar>
  <div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
      <div class="min-height-200px">
        <!-- Responsive tables Start -->
        <div class="pd-20 card-box mb-30">
          <div class="clearfix mb-20">
            <div class="pull-left">
              <h4 class="text-blue h4">Usuarios registrados</h4>
            </div>
          </div>
          <div class="btn-list">
            <button
              aria-label="Agregar ubicacion"
              data-microtip-position="bottom"
              role="tooltip"
              class="btn btn-primary btn-sm"
              @click="showModalLoc"
            >
              <i class="fa fa-pencil"></i> Agregar ubicacion
            </button>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Descripcion</th>
                  <th scope="col">Punto 1</th>
                  <th scope="col">Punto 2</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(location, index) in locations" :key="location._id">
                  <th scope="row">{{ index + 1 }}</th>
                  <td>{{ location.descripcion }}</td>
                  <td>{{ location.p1 }}</td>
                  <td>{{ location.p2 }}</td>
                  <td><span class="badge badge-primary">Primary</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Responsive tables End -->
      </div>
    </div>
  </div>

  <ModalMd v-show="locVisible" @close="closeModalLoc">
    <template v-slot:header> Modificar Usuario </template>
    <template v-slot:body>
      <form @submit.prevent="createGeolocation(loc)">
        <div class="form-group row">
          <label class="col-sm-12 col-md-2 col-form-label">Descripcion</label>
          <div class="col-sm-12 col-md-10">
            <input
              class="form-control"
              type="text"
              placeholder="Descripcion"
              v-model="loc.name"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-12 col-md-2 col-form-label">Latitud</label>
          <div class="col-sm-12 col-md-10">
            <input
              class="form-control"
              type="text"
              placeholder="20.000"
              v-model="loc.lat"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-12 col-md-2 col-form-label">Longitud</label>
          <div class="col-sm-12 col-md-10">
            <input
              class="form-control"
              type="text"
              placeholder="-100.000"
              v-model="loc.lon"
            />
          </div>
        </div>
        <div class="btn-list">
          <input
            type="submit"
            class="btn btn-success btn-lg"
            value="Guardar cambios"
          />
        </div>
      </form>
    </template>
  </ModalMd>
</template>

<script>
// @ is an alias to /src
import LeftSidebar from "@/components/LeftSidebar.vue";
import HeaderBar from "@/components/HeaderBar.vue";
import ModalMd from "@/components/ModalMedium.vue";
import { mapActions, mapState } from "vuex";

export default {
  name: "Locations",
  components: {
    HeaderBar,
    LeftSidebar,
    ModalMd,
  },
  computed: {
    ...mapState("locationsModule", ["locations", "loc"]),
  },
  methods: {
    ...mapActions(["obtenerToken"]),
    ...mapActions("locationsModule", ["getLocations", "createGeolocation"]),
    showModalLoc() {
      this.locVisible = true;
    },
    closeModalLoc() {
      this.locVisible = false;
    },
  },
  mounted() {
    this.$store.dispatch("locationsModule/getLocations");
  },
  created() {
    this.obtenerToken();
  },
  data() {
    return {
      locVisible: false,
    };
  },
};
</script>
