<template>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Icon -->
      <div class="fadeIn first">
        <img
          src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png"
          id="icon"
          alt="User Icon"
        />
      </div>

      <!-- Login Form -->
      <form @submit.prevent="login(usuario)" class="form-signin">
        <input
          type="text"
          id="login"
          class="fadeIn second"
          name="login"
          placeholder="login"
          v-model="usuario.email"
        />
        <input
          type="text"
          id="password"
          class="fadeIn third"
          name="login"
          placeholder="password"
          v-model="usuario.password"
        />
        <input type="submit" class="fadeIn fourth" value="Log In" />
      </form>

      <!-- Register -->
      <div id="formFooter">
        <router-link class="underlineHover" to="/register">Sign Up</router-link>
      </div>
    </div>
  </div>
</template>
<style>
@import "../assets/css/login.css";
</style>
<script>
import LoadingBar from "@/components/LoadingBar";

import { mapActions, mapState } from "vuex";

export default {
  name: "LoginPage",

  data() {
    return {
      usuario: {
        email: "amedinaf95@gmail.com",
        password: "admin",
      },
    };
  },
  methods: {
    ...mapState(["showLoading"]),
    ...mapActions(["login"]),
  },
  components: {
    LoadingBar,
  },
};
</script>
