<template>
  <HeaderBar> </HeaderBar>
  <LeftSidebar> </LeftSidebar>
  <div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
      <div class="min-height-200px">
        <!-- Responsive tables Start -->
        <div class="pd-20 card-box mb-30">
          <div class="clearfix mb-20">
            <div class="pull-left">
              <h4 class="text-blue h4">Proyectos registrados</h4>
            </div>
          </div>
          <div class="btn-list">
            <button
              aria-label="Agregar ubicacion"
              data-microtip-position="bottom"
              role="tooltip"
              class="btn btn-primary btn-sm"
              @click="showModalProject"
            >
              <i class="fa fa-pencil"></i> Agregar proyecto
            </button>
          </div>
          <div class="table-responsive">
            <table class="table table-striped" id="table-projects">
              <thead>
                <tr>
                  <th scope="col">Code</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Alcance</th>
                  <th scope="col">Inicio</th>
                  <th scope="col">Fin</th>
                  <th scope="col">Asignados</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in projects" :key="item._id">
                  <th scope="row">{{ item.code }}</th>
                  <td>{{ item.name }}</td>
                  <td>{{ item.coverage }}</td>
                  <td>
                    {{ item.start?.substring(0, 10) }}
                  </td>
                  <td>
                    {{ item.end?.substring(0, 10) }}
                  </td>
                  <td>
                    <ul v-for="user in item.collaborators" :key="user._id">
                      {{
                        user.name
                      }}
                    </ul>
                  </td>
                  <td>
                    <button
                      aria-label="Editar"
                      data-microtip-position="bottom"
                      role="tooltip"
                      class="btn alert-info btn-sm"
                      @click="showModalEditProject(item._id)"
                    >
                      <i class="fa fa-pencil"></i>
                    </button>
                    <button
                      aria-label="Eliminar"
                      data-microtip-position="bottom"
                      role="tooltip"
                      class="btn alert-info btn-sm"
                      @click="deleteProjectDialog(item._id)"
                    >
                      <i class="fa fa-times"></i>
                    </button>
                    <button
                      aria-label="Listar Tareas"
                      data-microtip-position="bottom"
                      role="tooltip"
                      class="btn alert-info btn-sm"
                      @click="showModalTasks(item._id)"
                    >
                      <i class="fa fa-list"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Responsive tables End -->
      </div>
    </div>
  </div>
  <Modal v-show="tasksVisible" @close="closeModalTasks">
    <template v-slot:header> Tareas trabajadas </template>
    <template v-slot:body>
      <div class="form-inline">
        <div class="form-group">
          <label for="filter" class="col">Filtrar por fechas</label>
        </div>
        <div class="form-group">
          <label for="Inicio" class="col">Inicio</label>
          <input
            type="date"
            class="form-control col"
            v-model="refreshTasks.start"
          />
          <label for="Fin" class="col">Fin</label>
          <input
            type="date"
            class="form-control col"
            v-model="refreshTasks.end"
          />
        </div>
        <div class="form-group">
          <button
            aria-label="Listar Tareas"
            data-microtip-position="bottom"
            role="tooltip"
            class="btn btn-info btn-block col form-control"
            @click="refresModalTasks(refreshTasks)"
          >
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
      <hr />
      <div class="table-responsive">
        <table class="table table-striped" id="table-user-tasks">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Proyecto</th>
              <th scope="col">Tarea</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Fase</th>
              <th scope="col">Inicio</th>
              <th scope="col">Fin</th>
              <th scope="col">Horas Planeadas</th>
              <th scope="col">Horas Reales</th>
              <th scope="col">Estado</th>
              <th scope="col">Ingeniero</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in projectTasks" :key="item._id">
              <th scope="row">{{ index + 1 }}</th>
              <td>{{ item.project.name }}</td>
              <td>{{ item.activity }}</td>
              <td>{{ item.description }}</td>
              <td>{{ item.phase.description }}</td>
              <td>
                {{ item.start?.substring(0, 10) }}
              </td>
              <td>
                {{ item.end?.substring(0, 10) }}
              </td>
              <td>{{ item.hours }}</td>
              <td>{{ item.hours_worked ?? "" }}</td>
              <td>{{ item.status.description }}</td>
              <td>{{ `${item.user.name} ${item.user.lastname}` }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </template>
  </Modal>
  <Modal v-show="projectVisible" @close="closeModalProject">
    <template v-slot:header> Agregar Proyecto </template>
    <template v-slot:body>
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
          <a
            class="nav-link"
            @click.prevent="setActiveTab('generalesTab')"
            :class="{ 'alert alert-info': isActiveTab('generalesTab') }"
            href="#generalesTab"
            >Generales</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            @click.prevent="setActiveTab('metricasTab')"
            :class="{ 'alert alert-info': isActiveTab('metricasTab') }"
            href="#metricasTab"
            >Metricas</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            @click.prevent="setActiveTab('financieroTab')"
            :class="{ 'alert alert-info': isActiveTab('financieroTab') }"
            href="#financieroTab"
            >Financieros</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            @click.prevent="setActiveTab('clienteTab')"
            :class="{ 'alert alert-info': isActiveTab('clienteTab') }"
            href="#clienteTab"
            >Cliente</a
          >
        </li>
      </ul>

      <form
        @submit.prevent="createProject(saveProject)"
        v-if="saveProject._id == ''"
      >
        <div class="tab-content py-2">
          <!-- DATOS DEL PROYECTO -->
          <div
            class="tab-pane fade"
            :class="{ 'active show': isActiveTab('generalesTab') }"
            id="generalesTab"
          >
            <div class="form-group row">
              <label class="col-sm-6 col-md-2 col-form-label"
                >Codigo del proyecto</label
              >
              <div class="col-sm-6 col-md-4">
                <input
                  class="form-control"
                  type="text"
                  placeholder="Codigo del proyecto"
                  required
                  v-model="saveProject.code"
                />
              </div>
              <label class="col-sm-6 col-md-2 col-form-label"
                >Nombre del proyecto</label
              >
              <div class="col-sm-6 col-md-4">
                <input
                  class="form-control"
                  type="text"
                  placeholder="Nombre del proyecto"
                  required
                  v-model="saveProject.name"
                />
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-6 col-md-2 col-form-label"
                >Administrador del proyecto</label
              >
              <div class="col-sm-6 col-md-4">
                <select
                  class="custom-select"
                  required
                  v-model="saveProject.projectManager"
                >
                  <option
                    :value="item._id"
                    v-for="item in users"
                    :key="item._id"
                  >
                    {{ item.name }}
                  </option>
                </select>
              </div>
              <label class="col-sm-6 col-md-2 col-form-label"
                >Lider tecnico</label
              >
              <div class="col-sm-6 col-md-4">
                <select
                  class="custom-select"
                  required
                  v-model="saveProject.leader"
                >
                  <option
                    :value="item._id"
                    v-for="item in users"
                    :key="item._id"
                  >
                    {{ item.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-6 col-md-2 col-form-label"
                >Tipo de proyecto</label
              >
              <div class="col-sm-6 col-md-4">
                <select
                  class="custom-select"
                  required
                  v-model="saveProject.type"
                >
                  <option
                    :value="item._id"
                    v-for="item in types"
                    :key="item._id"
                  >
                    {{ item.description }}
                  </option>
                </select>
              </div>
              <label class="col-sm-6 col-md-2 col-form-label"
                >Ciclo de vida</label
              >
              <div class="col-sm-6 col-md-4">
                <select
                  class="custom-select"
                  required
                  v-model="saveProject.lifecycle"
                >
                  <option
                    :value="item._id"
                    v-for="item in lifecycle"
                    :key="item._id"
                  >
                    {{ item.description }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Fecha inicial</label>
              <div class="col-sm-2">
                <input
                  class="form-control"
                  type="date"
                  placeholder="Fecha inicial"
                  required
                  v-model="saveProject.start"
                />
              </div>
              <label class="col-sm-2 col-form-label">Fecha final</label>
              <div class="col-sm-2">
                <input
                  class="form-control"
                  type="date"
                  placeholder="Fecha final"
                  required
                  v-model="saveProject.end"
                />
              </div>
              <label class="col-sm-2 col-form-label">Duracion en semanas</label>
              <div class="col-sm-2">
                <input
                  class="form-control"
                  type="text"
                  placeholder="Duracion en semanas"
                  required
                  v-model="saveProject.duration"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-12 col-md-2 col-form-label"
                >Enunciado del Alcance</label
              >
              <div class="col-sm-12 col-md-10">
                <input
                  class="form-control"
                  type="text"
                  placeholder="Enunciado del Alcance"
                  required
                  v-model="saveProject.coverage"
                />
              </div>
            </div>
          </div>
          <!-- METRICAS -->
          <div
            class="tab-pane fade"
            :class="{ 'active show': isActiveTab('metricasTab') }"
            id="metricasTab"
          >
            <div class="form-group row">
              <label class="col-sm-6 col-md-2 col-form-label"
                >Horas vendidas</label
              >
              <div class="col-sm-6 col-md-4">
                <input
                  class="form-control"
                  type="number"
                  placeholder="Horas vendidas"
                  required
                  v-model="saveProject.salesHours"
                />
              </div>
              <label class="col-sm-6 col-md-2 col-form-label"
                >Esfuerzo estimado en horas</label
              >
              <div class="col-sm-6 col-md-4">
                <input
                  class="form-control"
                  type="number"
                  placeholder="Esfuerzo estimado en horas"
                  required
                  v-model="saveProject.estimateHours"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-6 col-md-2 col-form-label"
                >Modelo de estimacion</label
              >
              <div class="col-sm-6 col-md-4">
                <select
                  class="custom-select"
                  required
                  v-model="saveProject.estimateModel"
                >
                  <option
                    :value="item._id"
                    v-for="item in estimateModel"
                    :key="item._id"
                  >
                    {{ item.description }}
                  </option>
                </select>
              </div>
              <label class="col-sm-6 col-md-2 col-form-label"
                >Tamaño del Software en Puntos de Funcion</label
              >
              <div class="col-sm-6 col-md-4">
                <input
                  class="form-control"
                  type="number"
                  placeholder="Tamaño del Software en Puntos de Funcion"
                  required
                  v-model="saveProject.cosmicSize"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-6 col-md-2 col-form-label"
                >Productividad base (Horas * Puntos de funcion)</label
              >
              <div class="col-sm-6 col-md-4">
                <input
                  class="form-control"
                  type="number"
                  placeholder="Horas * Puntos de funcion"
                  required
                  v-model="saveProject.productivity"
                />
              </div>
              <label class="col-sm-6 col-md-2 col-form-label"
                >Porcentaje Base de Densidad de defectos</label
              >
              <div class="col-sm-6 col-md-4">
                <input
                  class="form-control"
                  type="number"
                  placeholder="10%"
                  required
                  v-model="saveProject.percentDefects"
                />
              </div>
              <label class="col-sm-6 col-md-6 col-form-label"
                >Porcentaje Base de Densidad de Defectos Detectados por el
                Cliente</label
              >
              <div class="col-sm-6 col-md-6">
                <input
                  class="form-control"
                  type="number"
                  placeholder="10%"
                  required
                  v-model="saveProject.percentDefectsClient"
                />
              </div>
            </div>
          </div>
          <!-- FINANCIEROS -->
          <div
            class="tab-pane fade"
            :class="{ 'active show': isActiveTab('financieroTab') }"
            id="financieroTab"
          >
            <div class="form-group row">
              <label class="col-sm-6 col-md-2 col-form-label"
                >Monto de venta</label
              >
              <div class="col-sm-6 col-md-4">
                <input
                  class="form-control"
                  type="number"
                  placeholder="Monto de venta"
                  required
                  v-model="saveProject.salesAmount"
                />
              </div>
              <label class="col-sm-6 col-md-2 col-form-label"
                >Costos de servicios de personal</label
              >
              <div class="col-sm-6 col-md-4">
                <input
                  class="form-control"
                  type="number"
                  placeholder="Costos de servicios de personal"
                  required
                  v-model="saveProject.staffCost"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-6 col-md-2 col-form-label"
                >Gastos del proyecto</label
              >
              <div class="col-sm-6 col-md-4">
                <input
                  class="form-control"
                  type="number"
                  placeholder="Gastos del proyecto"
                  required
                  v-model="saveProject.projectCost"
                />
              </div>
              <label class="col-sm-6 col-md-2 col-form-label"
                >Presupuesto total del proyecto</label
              >
              <div class="col-sm-6 col-md-4">
                <input
                  class="form-control"
                  type="number"
                  placeholder="Presupuesto total del proyecto"
                  required
                  v-model="saveProject.projectBudget"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-6 col-md-2 col-form-label"
                >Monto de utilidad planeado</label
              >
              <div class="col-sm-6 col-md-4">
                <input
                  class="form-control"
                  type="number"
                  placeholder="Monto de utilidad planeado"
                  required
                  v-model="saveProject.profit"
                />
              </div>
              <label class="col-sm-6 col-md-2 col-form-label"
                >Porcentaje de rentabilidad planeada</label
              >
              <div class="col-sm-6 col-md-4">
                <input
                  class="form-control"
                  type="number"
                  placeholder="%50"
                  required
                  v-model="saveProject.percentProfit"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-6 col-md-6 col-form-label"
                >Tarifa de venta</label
              >
              <div class="col-sm-6 col-md-4">
                <input
                  class="form-control"
                  type="number"
                  placeholder="Tarifa de venta"
                  required
                  v-model="saveProject.salesRate"
                />
              </div>
            </div>
          </div>
          <!-- CLIENTES -->
          <div
            class="tab-pane fade"
            :class="{ 'active show': isActiveTab('clienteTab') }"
            id="clienteTab"
          >
            <div class="form-group row">
              <label class="col-sm-6 col-md-2 col-form-label"
                >Nombre del Cliente</label
              >
              <div class="col-sm-6 col-md-4">
                <input
                  class="form-control"
                  type="text"
                  placeholder="Nombre del Cliente"
                  required
                  v-model="saveProject.client"
                />
              </div>
              <label class="col-sm-6 col-md-2 col-form-label"
                >Responsable del proyecto</label
              >
              <div class="col-sm-6 col-md-4">
                <input
                  class="form-control"
                  type="text"
                  placeholder="Responsable del proyecto (Cliente)"
                  required
                  v-model="saveProject.responsable"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-12 col-md-2 col-form-label"
                >Colaboradores</label
              >
              <div class="col-sm-12 col-md-10">
                <select class="custom-select col-md-10" id="projectUser">
                  <option
                    :value="item._id"
                    v-for="item in users"
                    :key="item._id"
                  >
                    {{ item.name }}
                  </option>
                </select>
                <i
                  aria-label="Asignar localizaciòn"
                  data-microtip-position="bottom"
                  role="tooltip"
                  class="btn btn-info col-md-2"
                  @click="assignUsers()"
                >
                  <i class="fa fa-plus"></i>
                </i>
              </div>
            </div>
            <div class="form-group row">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nombre</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="(item, index) in saveProject.collaborators"
                      :key="item._id"
                    >
                      <th scope="row">{{ index + 1 }}</th>
                      <td>{{ item.name }}</td>
                      <td>
                        <i
                          aria-label="Eliminar colaborador"
                          data-microtip-position="bottom"
                          role="tooltip"
                          class="btn btn-danger btn-sm"
                          @click="unassignUsers(item.index)"
                        >
                          <i class="fa fa-times"></i>
                        </i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-list">
          <input
            type="submit"
            class="btn btn-success btn-lg"
            value="Guardar cambios"
          />
        </div>
      </form>
      <form @submit.prevent="updateProject(saveProject)" v-else>
        <div class="tab-content py-2">
          <!-- DATOS DEL PROYECTO -->
          <div
            class="tab-pane fade"
            :class="{ 'active show': isActiveTab('generalesTab') }"
            id="generalesTab"
          >
            <div class="form-group row">
              <label class="col-sm-6 col-md-2 col-form-label"
                >Codigo del proyecto</label
              >
              <div class="col-sm-6 col-md-4">
                <input
                  class="form-control"
                  type="text"
                  placeholder="Codigo del proyecto"
                  required
                  v-model="saveProject.code"
                />
              </div>
              <label class="col-sm-6 col-md-2 col-form-label"
                >Nombre del proyecto</label
              >
              <div class="col-sm-6 col-md-4">
                <input
                  class="form-control"
                  type="text"
                  placeholder="Nombre del proyecto"
                  required
                  v-model="saveProject.name"
                />
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-6 col-md-2 col-form-label"
                >Administrador del proyecto</label
              >
              <div class="col-sm-6 col-md-4">
                <select
                  class="custom-select"
                  required
                  v-model="saveProject.projectManager"
                >
                  <option
                    :value="item._id"
                    v-for="item in users"
                    :key="item._id"
                  >
                    {{ item.name }}
                  </option>
                </select>
              </div>
              <label class="col-sm-6 col-md-2 col-form-label"
                >Lider tecnico</label
              >
              <div class="col-sm-6 col-md-4">
                <select
                  class="custom-select"
                  required
                  v-model="saveProject.leader"
                >
                  <option
                    :value="item._id"
                    v-for="item in users"
                    :key="item._id"
                  >
                    {{ item.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-6 col-md-2 col-form-label"
                >Tipo de proyecto</label
              >
              <div class="col-sm-6 col-md-4">
                <select
                  class="custom-select"
                  required
                  v-model="saveProject.type"
                >
                  <option
                    :value="item._id"
                    v-for="item in types"
                    :key="item._id"
                  >
                    {{ item.description }}
                  </option>
                </select>
              </div>
              <label class="col-sm-6 col-md-2 col-form-label"
                >Ciclo de vida</label
              >
              <div class="col-sm-6 col-md-4">
                <select
                  class="custom-select"
                  required
                  v-model="saveProject.lifecycle"
                >
                  <option
                    :value="item._id"
                    v-for="item in lifecycle"
                    :key="item._id"
                  >
                    {{ item.description }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Fecha inicial</label>
              <div class="col-sm-2">
                <input
                  class="form-control"
                  type="date"
                  placeholder="Fecha inicial"
                  required
                  v-model="saveProject.start"
                />
              </div>
              <label class="col-sm-2 col-form-label">Fecha final</label>
              <div class="col-sm-2">
                <input
                  class="form-control"
                  type="date"
                  placeholder="Fecha final"
                  required
                  v-model="saveProject.end"
                />
              </div>
              <label class="col-sm-2 col-form-label">Duracion en semanas</label>
              <div class="col-sm-2">
                <input
                  class="form-control"
                  type="text"
                  placeholder="Duracion en semanas"
                  required
                  v-model="saveProject.duration"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-12 col-md-2 col-form-label"
                >Enunciado del Alcance</label
              >
              <div class="col-sm-12 col-md-10">
                <input
                  class="form-control"
                  type="text"
                  placeholder="Enunciado del Alcance"
                  required
                  v-model="saveProject.coverage"
                />
              </div>
            </div>
          </div>
          <!-- METRICAS -->
          <div
            class="tab-pane fade"
            :class="{ 'active show': isActiveTab('metricasTab') }"
            id="metricasTab"
          >
            <div class="form-group row">
              <label class="col-sm-6 col-md-2 col-form-label"
                >Horas vendidas</label
              >
              <div class="col-sm-6 col-md-4">
                <input
                  class="form-control"
                  type="number"
                  placeholder="Horas vendidas"
                  required
                  v-model="saveProject.salesHours"
                />
              </div>
              <label class="col-sm-6 col-md-2 col-form-label"
                >Esfuerzo estimado en horas</label
              >
              <div class="col-sm-6 col-md-4">
                <input
                  class="form-control"
                  type="number"
                  placeholder="Esfuerzo estimado en horas"
                  required
                  v-model="saveProject.estimateHours"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-6 col-md-2 col-form-label"
                >Modelo de estimacion</label
              >
              <div class="col-sm-6 col-md-4">
                <select
                  class="custom-select"
                  required
                  v-model="saveProject.estimateModel"
                >
                  <option
                    :value="item._id"
                    v-for="item in estimateModel"
                    :key="item._id"
                  >
                    {{ item.description }}
                  </option>
                </select>
              </div>
              <label class="col-sm-6 col-md-2 col-form-label"
                >Tamaño del Software en Puntos de Funcion</label
              >
              <div class="col-sm-6 col-md-4">
                <input
                  class="form-control"
                  type="number"
                  placeholder="Tamaño del Software en Puntos de Funcion"
                  required
                  v-model="saveProject.cosmicSize"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-6 col-md-2 col-form-label"
                >Productividad base (Horas * Puntos de funcion)</label
              >
              <div class="col-sm-6 col-md-4">
                <input
                  class="form-control"
                  type="number"
                  placeholder="Horas * Puntos de funcion"
                  required
                  v-model="saveProject.productivity"
                />
              </div>
              <label class="col-sm-6 col-md-2 col-form-label"
                >Porcentaje Base de Densidad de defectos</label
              >
              <div class="col-sm-6 col-md-4">
                <input
                  class="form-control"
                  type="number"
                  placeholder="10%"
                  required
                  v-model="saveProject.percentDefects"
                />
              </div>
              <label class="col-sm-6 col-md-6 col-form-label"
                >Porcentaje Base de Densidad de Defectos Detectados por el
                Cliente</label
              >
              <div class="col-sm-6 col-md-6">
                <input
                  class="form-control"
                  type="number"
                  placeholder="10%"
                  required
                  v-model="saveProject.percentDefectsClient"
                />
              </div>
            </div>
          </div>
          <!-- FINANCIEROS -->
          <div
            class="tab-pane fade"
            :class="{ 'active show': isActiveTab('financieroTab') }"
            id="financieroTab"
          >
            <div class="form-group row">
              <label class="col-sm-6 col-md-2 col-form-label"
                >Monto de venta</label
              >
              <div class="col-sm-6 col-md-4">
                <input
                  class="form-control"
                  type="number"
                  placeholder="Monto de venta"
                  required
                  v-model="saveProject.salesAmount"
                />
              </div>
              <label class="col-sm-6 col-md-2 col-form-label"
                >Costos de servicios de personal</label
              >
              <div class="col-sm-6 col-md-4">
                <input
                  class="form-control"
                  type="number"
                  placeholder="Costos de servicios de personal"
                  required
                  v-model="saveProject.staffCost"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-6 col-md-2 col-form-label"
                >Gastos del proyecto</label
              >
              <div class="col-sm-6 col-md-4">
                <input
                  class="form-control"
                  type="number"
                  placeholder="Gastos del proyecto"
                  required
                  v-model="saveProject.projectCost"
                />
              </div>
              <label class="col-sm-6 col-md-2 col-form-label"
                >Presupuesto total del proyecto</label
              >
              <div class="col-sm-6 col-md-4">
                <input
                  class="form-control"
                  type="number"
                  placeholder="Presupuesto total del proyecto"
                  required
                  v-model="saveProject.projectBudget"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-6 col-md-2 col-form-label"
                >Monto de utilidad planeado</label
              >
              <div class="col-sm-6 col-md-4">
                <input
                  class="form-control"
                  type="number"
                  placeholder="Monto de utilidad planeado"
                  required
                  v-model="saveProject.profit"
                />
              </div>
              <label class="col-sm-6 col-md-2 col-form-label"
                >Porcentaje de rentabilidad planeada</label
              >
              <div class="col-sm-6 col-md-4">
                <input
                  class="form-control"
                  type="number"
                  placeholder="%50"
                  required
                  v-model="saveProject.percentProfit"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-6 col-md-6 col-form-label"
                >Tarifa de venta</label
              >
              <div class="col-sm-6 col-md-4">
                <input
                  class="form-control"
                  type="number"
                  placeholder="Tarifa de venta"
                  required
                  v-model="saveProject.salesRate"
                />
              </div>
            </div>
          </div>
          <!-- CLIENTES -->
          <div
            class="tab-pane fade"
            :class="{ 'active show': isActiveTab('clienteTab') }"
            id="clienteTab"
          >
            <div class="form-group row">
              <label class="col-sm-6 col-md-2 col-form-label"
                >Nombre del Cliente</label
              >
              <div class="col-sm-6 col-md-4">
                <input
                  class="form-control"
                  type="text"
                  placeholder="Nombre del Cliente"
                  required
                  v-model="saveProject.client"
                />
              </div>
              <label class="col-sm-6 col-md-2 col-form-label"
                >Responsable del proyecto</label
              >
              <div class="col-sm-6 col-md-4">
                <input
                  class="form-control"
                  type="text"
                  placeholder="Responsable del proyecto (Cliente)"
                  required
                  v-model="saveProject.responsable"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-12 col-md-2 col-form-label"
                >Colaboradores</label
              >
              <div class="col-sm-12 col-md-10">
                <select class="custom-select col-md-10" id="projectUser">
                  <option
                    :value="item._id"
                    v-for="item in users"
                    :key="item._id"
                  >
                    {{ item.name }}
                  </option>
                </select>
                <i
                  aria-label="Asignar localizaciòn"
                  data-microtip-position="bottom"
                  role="tooltip"
                  class="btn btn-info col-md-2"
                  @click="assignUsers()"
                >
                  <i class="fa fa-plus"></i>
                </i>
              </div>
            </div>
            <div class="form-group row">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nombre</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="(item, index) in saveProject.collaborators"
                      :key="item._id"
                    >
                      <th scope="row">{{ index + 1 }}</th>
                      <td>{{ item.name }}</td>
                      <td>
                        <i
                          aria-label="Eliminar colaborador"
                          data-microtip-position="bottom"
                          role="tooltip"
                          class="btn btn-danger btn-sm"
                          @click="unassignUsers(item.index)"
                        >
                          <i class="fa fa-times"></i>
                        </i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-list">
          <input
            type="submit"
            class="btn btn-success btn-lg"
            value="Guardar cambios"
          />
        </div>
      </form>
    </template>
  </Modal>
</template>

<script>
// @ is an alias to /src
import LeftSidebar from "@/components/LeftSidebar.vue";
import HeaderBar from "@/components/HeaderBar.vue";
import Modal from "@/components/Modal.vue";
import { mapActions, mapState } from "vuex";

export default {
  name: "Projects",
  components: {
    HeaderBar,
    LeftSidebar,
    Modal,
  },
  computed: {
    ...mapState("projectsModule", [
      "projects",
      "saveProject",
      "statuses",
      "users",
      "lifecycle",
      "types",
      "estimateModel",
      "refreshTasks",
      "projectTasks",
    ]),
  },
  methods: {
    async refresModalTasks(task) {
      await this.getProjectTasks(task);
    },
    closeModalTasks() {
      this.tasksVisible = false;
    },
    async showModalTasks(id) {
      const fecha = new Date();
      const dia = fecha.getDay();
      const anio = fecha.getFullYear();
      const mes = fecha.getMonth() + 1;
      const last = new Date(anio, mes, 0);
      const start = dia < 16 ? `${anio}-${mes}-01` : `${anio}-${mes}-16`;
      const end =
        dia < 16 ? `${anio}-${mes}-15` : `${anio}-${mes}-${last.getDay()}`;
      const task = {
        id,
        start,
        end,
      };
      await this.getProjectTasks(task);
      $("#table-user-tasks").DataTable(this.datatableOptions);

      this.tasksVisible = true;
    },
    async showModalEditProject(id) {
      await this.editProject(id);
      this.projectVisible = true;
    },
    isActiveTab(menuItem) {
      return this.activeTab === menuItem;
    },
    setActiveTab(menuItem) {
      this.activeTab = menuItem;
    },
    showModalProject() {
      this.projectVisible = true;
    },
    closeModalProject() {
      this.projectVisible = false;
    },
    async deleteProjectDialog(item) {
      const response = await swal({
        title: "¿Deseas eliminar?",
        text: "El item sera eliminado",
        buttons: true,
        dangerMode: true,
      });
      if (response) {
        this.deleteProject(item);
      }
    },
    unassignUsers(id) {
      this.saveProject.collaborators.splice(id, 1);
    },
    assignUsers() {
      const sel = document.getElementById("projectUser");
      const name = sel.options[sel.selectedIndex].text;
      const _id = sel.value;

      this.saveProject.collaborators.push({
        _id: _id,
        name: name,
      });
    },
    ...mapActions(["obtenerToken"]),
    ...mapActions("projectsModule", [
      "getProjects",
      "createProject",
      "getUsers",
      "getLifecycle",
      "getType",
      "getEstimateModel",
      "deleteProject",
      "editProject",
      "updateProject",
      "getProjectTasks",
    ]),
  },
  data() {
    return {
      activeTab: "generalesTab",
      projectVisible: false,
      tasksVisible: false,
    };
  },
  async mounted() {
    await this.$store.dispatch("projectsModule/getProjects");
    this.$store.dispatch("projectsModule/getUsers");
    this.$store.dispatch("projectsModule/getLifecycle");
    this.$store.dispatch("projectsModule/getType");
    this.$store.dispatch("projectsModule/getEstimateModel");

    $("#table-projects").DataTable({
      language: {
        url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",
      },
    });
  },
  created() {
    this.obtenerToken();
  },
};
</script>
