<template>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png" id="icon" alt="User Icon"/>
    </div>

    <!-- Login Form -->
    <form @submit.prevent="register(user)" class="form-signin">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Name" v-model="user.name">
      <input type="text" id="lastname" class="fadeIn second" name="lastname" placeholder="Last Name" v-model="user.lastname">
      <input type="text" id="email" class="fadeIn second" name="email" placeholder="Email" v-model="user.email">
      <input type="text" id="username" class="fadeIn second" name="username" placeholder="Username" v-model="user.username">
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="password" v-model="user.password">
      <input type="submit" class="fadeIn fourth" value="Sign Up">
    </form>
    
    <!-- Register -->
    <div id="formFooter">
      <router-link class="underlineHover" to="/login">Login</router-link>
    </div>

  </div>
</div>
</template>
<style>
  @import '../assets/css/login.css';
</style>
<script>
import { mapActions } from "vuex";

export default {
  name: "RegisterPage",

  data() {
    return {
      user: {
        name:'',
        lastname:'',
        email:'',
        username:'',
        password:''
      },
    };
  },
  methods: {
    ...mapActions(["register"]),
  },
};
</script>