<template>
  <HeaderBar> </HeaderBar>
  <LeftSidebar> </LeftSidebar>
  <div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
      <div class="min-height-200px">
        <!-- Responsive tables Start -->
        <div class="pd-20 card-box mb-30">
          <div class="clearfix mb-20">
            <div class="pull-left">
              <h4 class="text-blue h4">Usuarios registrados</h4>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped" id="table-users">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">User</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido</th>
                  <th scope="col">Email</th>
                  <th scope="col">Roles</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(user, index) in users" :key="user._id">
                  <th scope="row">{{ index + 1 }}</th>
                  <td>{{ user.username }}</td>
                  <td>{{ user.name }}</td>
                  <td>{{ user.lastname }}</td>
                  <td>{{ user.email }}</td>
                  <td>
                    <ul v-for="role in user.roles" :key="role._id">
                      {{
                        role.name
                      }}
                    </ul>
                  </td>
                  <td class="btn-list">
                    <button
                      aria-label="Modificar usuario"
                      data-microtip-position="bottom"
                      role="tooltip"
                      class="btn alert-info btn-sm"
                      @click="showModalUsers(user._id)"
                    >
                      <i class="fa fa-pencil"></i>
                    </button>
                    <button
                      aria-label="Asignar localizaciòn"
                      data-microtip-position="bottom"
                      role="tooltip"
                      class="btn alert-info btn-sm"
                      @click="showModalLocations(user._id)"
                    >
                      <i class="fa fa-globe"></i>
                    </button>
                    <button
                      aria-label="Listar Tareas"
                      data-microtip-position="bottom"
                      role="tooltip"
                      class="btn alert-info btn-sm"
                      @click="showModalTasks(user._id)"
                    >
                      <i class="fa fa-list"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Responsive tables End -->
      </div>
    </div>
  </div>
  <Modal v-show="tasksVisible" @close="closeModalTasks">
    <template v-slot:header> Tareas trabajadas </template>
    <template v-slot:body>
      <div class="form-inline">
        <div class="form-group">
          <label for="filter" class="col">Filtrar por fechas</label>
        </div>
        <div class="form-group">
          <label for="Inicio" class="col">Inicio</label>
          <input
            type="date"
            class="form-control col"
            v-model="refreshTasks.start"
          />
          <label for="Fin" class="col">Fin</label>
          <input
            type="date"
            class="form-control col"
            v-model="refreshTasks.end"
          />
        </div>
        <div class="form-group">
          <button
            aria-label="Listar Tareas"
            data-microtip-position="bottom"
            role="tooltip"
            class="btn btn-info btn-block col form-control"
            @click="refresModalTasks(refreshTasks)"
          >
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
      <hr />
      <div class="table-responsive">
        <table class="table table-striped" id="table-user-tasks">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Proyecto</th>
              <th scope="col">Tarea</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Fase</th>
              <th scope="col">Inicio</th>
              <th scope="col">Fin</th>
              <th scope="col">Horas Planeadas</th>
              <th scope="col">Horas Reales</th>
              <th scope="col">Estado</th>
              <th scope="col">Ingeniero</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in userTasks" :key="item._id">
              <th scope="row">{{ index + 1 }}</th>
              <td>{{ item.project.name }}</td>
              <td>{{ item.activity }}</td>
              <td>{{ item.description }}</td>
              <td>{{ item.phase.description }}</td>
              <td>
                {{ item.start?.substring(0, 10) }}
              </td>
              <td>
                {{ item.end?.substring(0, 10) }}
              </td>
              <td>{{ item.hours }}</td>
              <td>{{ item.hours_worked ?? "" }}</td>
              <td>{{ item.status.description }}</td>
              <td>{{ `${item.user.name} ${item.user.lastname}` }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </template>
  </Modal>
  <ModalMd v-show="locationsVisible" @close="closeModalLocations">
    <template v-slot:header> Asignar lugar de trabajo </template>
    <template v-slot:body>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Descripcion</th>
              <th scope="col">P1</th>
              <th scope="col">P2</th>
              <th scope="col">Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(locs, index) in userLocs" :key="locs._id">
              <th scope="row">{{ index + 1 }}</th>
              <td>{{ locs.descripcion }}</td>
              <td>{{ locs.p1 }}</td>
              <td>{{ locs.p2 }}</td>
              <td>{{ locs.activo == 1 ? "Activo" : "Inactivo" }}</td>
              <td>
                <button
                  aria-label="Eliminar ubicacion"
                  data-microtip-position="bottom"
                  role="tooltip"
                  class="btn btn-danger btn-sm"
                  @click="unassingLocation(locs._id)"
                >
                  <i class="fa fa-times"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <form @submit.prevent="assingLocation(userLoc)">
        <div class="form-group row">
          <label class="col-sm-12 col-md-2 col-form-label">Ubicacion</label>
          <div class="col-sm-12 col-md-10">
            <select class="custom-select col-12" v-model="userLoc.locations">
              <option :value="loc._id" v-for="loc in locations" :key="loc._id">
                {{ loc.descripcion }}
              </option>
            </select>
          </div>
        </div>
        <div class="btn-list">
          <input
            type="submit"
            class="btn btn-success btn-lg"
            value="Guardar cambios"
          />
        </div>
      </form>
    </template>
  </ModalMd>
  <ModalMd v-show="usersVisible" @close="closeModalUsers">
    <template v-slot:header> Modificar Usuario </template>
    <template v-slot:body>
      <form @submit.prevent="saveUserMod(userMod)">
        <div class="form-group row">
          <label class="col-sm-12 col-md-2 col-form-label">Nombre</label>
          <div class="col-sm-12 col-md-10">
            <input
              class="form-control"
              type="text"
              placeholder="Johnny"
              v-model="userMod.name"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-12 col-md-2 col-form-label">Apellidos</label>
          <div class="col-sm-12 col-md-10">
            <input
              class="form-control"
              type="text"
              placeholder="Brown"
              v-model="userMod.lastname"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-12 col-md-2 col-form-label"
            >Fecha nacimiento</label
          >
          <div class="col-sm-12 col-md-10">
            <input
              class="form-control"
              type="date"
              placeholder="14/08/1995"
              v-model="userMod.birthday"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-12 col-md-2 col-form-label">Email</label>
          <div class="col-sm-12 col-md-10">
            <input
              class="form-control"
              type="email"
              readonly
              placeholder="example@example.com"
              v-model="userMod.email"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-12 col-md-2 col-form-label">Username</label>
          <div class="col-sm-12 col-md-10">
            <input
              class="form-control"
              type="text"
              placeholder="Mardxc"
              v-model="userMod.username"
            />
          </div>
        </div>
        <div class="btn-list">
          <input
            type="submit"
            class="btn btn-success btn-lg"
            value="Guardar cambios"
          />
        </div>
      </form>
    </template>
  </ModalMd>
</template>

<script>
// @ is an alias to /src
import LeftSidebar from "@/components/LeftSidebar.vue";
import HeaderBar from "@/components/HeaderBar.vue";
import Modal from "@/components/Modal.vue";
import ModalMd from "@/components/ModalMedium.vue";

import { mapActions, mapState } from "vuex";

export default {
  name: "Home",
  components: {
    HeaderBar,
    LeftSidebar,
    Modal,
    ModalMd,
  },
  computed: {
    ...mapState(["datatableOptions"]),
    ...mapState("locationsModule", ["locations"]),
    ...mapState("usersModule", [
      "users",
      "userMod",
      "userTasks",
      "userLoc",
      "userLocs",
      "refreshTasks",
    ]),
  },
  methods: {
    ...mapActions(["obtenerToken"]),
    ...mapActions("locationsModule", ["getLocations"]),
    ...mapActions("usersModule", [
      "getUsers",
      "getUserMod",
      "saveUserMod",
      "getUserTasks",
      "getUserLocs",
      "assingLocation",
      "unassingLocation",
    ]),
    async refresModalTasks(task) {
      await this.getUserTasks(task);
    },
    async showModalTasks(id) {
      const fecha = new Date();
      const dia = fecha.getDay();
      const anio = fecha.getFullYear();
      const mes = fecha.getMonth() + 1;
      const last = new Date(anio, mes, 0);
      const start = dia < 16 ? `${anio}-${mes}-01` : `${anio}-${mes}-16`;
      const end =
        dia < 16 ? `${anio}-${mes}-15` : `${anio}-${mes}-${last.getDay()}`;
      const task = {
        id,
        start,
        end,
      };
      await this.getUserTasks(task);
      $("#table-user-tasks").DataTable(this.datatableOptions);

      this.tasksVisible = true;
    },
    closeModalTasks() {
      this.tasksVisible = false;
    },
    async showModalLocations(userId) {
      await this.getLocations();
      await this.getUserLocs(userId);
      this.locationsVisible = true;
    },
    closeModalLocations() {
      this.locationsVisible = false;
    },
    async showModalUsers(userId) {
      await this.getUserMod(userId);
      this.usersVisible = true;
    },
    closeModalUsers() {
      this.usersVisible = false;
    },
  },
  data() {
    return {
      tasksVisible: false,
      locationsVisible: false,
      usersVisible: false,
    };
  },
  async mounted() {
    await this.$store.dispatch("usersModule/getUsers");
    $("#table-users").DataTable({
      language: {
        url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",
      },
    });
  },
  created() {
    this.obtenerToken();
  },
};
</script>
