<template>
  <div class="header">
    <div class="header-left">
    </div>
    <div class="header-right">
      <div class="user-notification">
        <div class="dropdown">
          <a
            class="dropdown-toggle no-arrow"
            href="#"
            role="button"
            data-toggle="dropdown"
          >
            <i class="icon-copy dw dw-notification"></i>
            <span class="badge notification-active"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="notification-list mx-h-350 customscroll"></div>
          </div>
        </div>
      </div>
      <div class="user-info-dropdown">
        <div class="dropdown">
          <a
            class="dropdown-toggle"
            href="#"
            role="button"
            data-toggle="dropdown"
          >
            <span class="user-icon">
              <img src="@/assets/images/photo1.jpg" alt="" />
            </span>
            <span class="user-name">Ross C. Lopez</span>
          </a>
          <div
            class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
          >
            <a class="dropdown-item" href="profile.html"
              ><i class="dw dw-user1"></i> Profile</a
            >
            <a class="dropdown-item" href="profile.html"
              ><i class="dw dw-settings2"></i> Setting</a
            >
            <a class="dropdown-item" href="faq.html"
              ><i class="dw dw-help"></i> Help</a
            >
            <button class="dropdown-item" @click="cerrarSesion">
              <i class="dw dw-logout"></i> Log Out
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
@import "../assets/styles/core.css";
@import "../assets/styles/icon-font.min.css";
@import "../assets/styles/style.css";
</style>

<script>
import { mapActions } from "vuex";
export default {
  name: "HeaderBar",
  methods: {
    ...mapActions(["cerrarSesion"]),
  }
};
</script>