<template>
  <div class="left-side-bar">
    <div class="brand-logo">
      <router-link to="/">
        <i class="light-logo">ND</i>
        &nbsp;
        <b class="light-logo">Negocios</b> 
      </router-link>
      <div class="close-sidebar" data-toggle="left-sidebar-close">
        <i class="ion-close-round"></i>
      </div>
    </div>
    <div class="menu-block customscroll">
      <div class="sidebar-menu">
        <ul id="accordion-menu">
          <li>
            <router-link to="/users" class="dropdown-toggle no-arrow">
              <i class="micon icon-copy fi-torsos-all"></i>
              <span class="mtext">Usuarios</span>
            </router-link>
          </li>
          <li>
            <router-link to="/locations" class="dropdown-toggle no-arrow">
              <i class="micon icon-copy fa fa-globe"></i>
              <span class="mtext">Localizaciones</span>
            </router-link>
          </li>
          <li>
            <router-link to="/projects" class="dropdown-toggle no-arrow">
              <i class="micon icon-copy fi-database"></i>
              <span class="mtext">Proyectos</span>
            </router-link>
          </li>
          <li>
            <router-link to="/collections" class="dropdown-toggle no-arrow">
              <i class="micon icon-copy fi-database"></i>
              <span class="mtext">Catalgos</span>
            </router-link>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<style>
@import "../assets/styles/core.css";
@import "../assets/styles/icon-font.min.css";
@import "../assets/styles/style.css";
</style>

<script>
export default {
  name: "LeftSidebar",
};
</script>