<template>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <router-link to="/" class="navbar-brand">Home</router-link>
    <ul class="navbar-nav">
      <li class="nav-item">
        <router-link to="/users" class="nav-link">Users</router-link>
      </li>
      <li class="nav-item">
        <router-link to="/locations" class="nav-link">Locations</router-link>
      </li>
      <li class="nav-item">
        <router-link to="/workday" class="nav-link">Workday</router-link>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  name: "Navbar",
};
</script>
